<div class="delivery-container">
    <div class="delivery-header">
        <h2><span>Shipping and Return Policy</span></h2>
    </div>    
    <div class="delivery-list">
        <ul>
            <li><span>General Information:</span> We process and ship all orders within 24-48 hours of receipt (unless otherwise stated). Orders are processed and shipped during regular business hours (Monday through Saturday 8:00 AM - 5:00 PM CST, excluding national holidays).</li>
            <li><span>Are there any additional shipping charges?</span> Shipping Charges:
                Below Rs 1500 – Delivery charges Rs 75
                Above Rs 1500 – FREE Delivery</li>
            <li><span>Cancelling Your Order:</span> 
            Our system is set up to get your products to you as quickly as possible, so you cannot cancel an order.</li>
            <li><span>Returns:</span> 
            here will be no refund of shipping costs especially if the product is returned and rejected by customers or because of failed delivery. If the product is returned, all costs are refunded except shipping and handling levies.</li>
            <li><span>How long will the entire return process take?</span> 
             It can take up to 10 days or longer for us to receive your return, depending on your location and which courier service you use. Once we receive your returned item, we will inspect and process the same within 48 hours to ensure you receive your refund as quickly as possible. In order to keep you in the loop, we will send you an email confirming the status of your return.</li>
            <li><span>When will my order be delivered?</span>      
            We usually deliver within 9-10 working days of placement of the order. Delivery often depends upon the distance of our Head office to your shipping address. At maximum, it may take around 12 days. When Order Shipped through India Post it may take around 15-20 working days.</li>
            <li><span>Can I request delivery to an international shipping address?</span> 
                At the moment, Herbal Daily only delivers within India</li>
            <li><span>Where do I send my return?</span> 
            Please make sure that the following address is clearly printed/written on your returns parcel with the Herbal Daily Order Bill in cases of both pickup and self-shipping, Please also include the original invoice as proof of purchase with the return:</li>
        </ul>
    </div>
</div>