<div class="terms-container">
    <div class="terms-header">
        <h2><span>Terms & Conditions</span></h2>
    </div>
    <div class="terms-top">
        <div class="row">
            <div class="col-lg-6 col-xl-5 no-pad-left mb-4">
                <img src="/images/terms.jpg" class="img-fluid terms-img" alt="Terms & Conditions">
            </div>
            <div class="col-lg-6 col-xl-7 no-pad-right mb-4">
                <h2>Payment Gateway</h2>
                <p>"We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time".</p>
            </div>
        </div>
    </div>
    <div class="terms-top">
        <div class="row">
            <div class="col-lg-6 col-xl-7 order-2 order-md-1 no-pad-left mb-4">
                <h2>Content of the Website and copyright information</h2>
                <p>You agree not to reproduce, distribute, sell, trade, resell or exploit for any commercial purposes the content of the Website. 
                    You agree not to interfere with or disrupt the Website services, the security systems of the Website or of the Website content.
                    Please make sure that, before placing your order, you have checked the specifications and compatibility of the products by visiting the website of the manufacturer. 
                    The administrators of BNB are constantly working on maintaining the accuracy of the information displayed on the Website. However, the Website does not warrant that product descriptions or other content of this Website is accurate, complete, reliable, current, or error-free. Please note that the photographs are provided for informational purposes only and that they can display certain product accessories that may not be included in the standard sales package.</p>
            </div>
            <div class="col-lg-6 col-xl-5 order-1 order-md-2 no-pad-right mb-4">
                <img src="/images/agree.png" class="img-fluid terms-img" alt="Agreement">
            </div>
        </div>
    </div>
    <div class="terms-content">
        <ol type="1">
            <li>
                <div class="terms-content-title">Your account:-</div>
                <div class="terms-content-desc">
                   Using the Website or certain sections of the Website require setting up a user account. If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. If you suspect that the security of your user account has been violated, please inform the Website administrator as soon as possible. BNB is not liable for any damage that may occur from the unauthorized use of your user account.
                </div>
            </li>
        </ol>
    </div>
</div>